<html>
        
        <head>
                             
        
            </head>
        <body>
            <div>
                <form id="login-form" method="post">
                        <!-- <input type="text" name="i" id="i"/> -->
                        <img id="bg" name="bg" src="{{ url_for('video_feed') }}"><br>
                </form>
            </div>
       </body>
       <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
       <script>
        //    $('#bg').attr('src',"{{ url_for('video_feed') }}");
           var interval = setInterval(()=>{
                $.ajax({
                    type: 'GET',
                    url: "{{url_for('checkIdentity')}}",
                    success: function(data) {
                        console.log(data)
                        if(data.check){
                            
                            clearInterval(interval); 
                            alert('Login Success!!!Welcome User');
                              $('div').append('<p>Login success</p>');
                              setTimeout(window.location.href = "./",3000);
                               
                        }
                    },
                });
            },1000);
       </script>
        
</html>